body {
    font-family: 'Poppins', sans-serif;
}

td, th, tr {
    border: 1px solid black;
    padding: 2px;
}

table
{
    width: 100%;
}

.Team
{
    background-color: rgb(180, 180, 180);
}


.Team > th
{
    text-align: left;
    font-weight: bold;
}

.Headers
{
    display: grid;
    grid-template-areas: 
    "Logo Body Logo2"
    "Message Message Message";
    grid-template-columns: 1fr 3fr 1fr;
    padding: 10px 10px;
}

.User-text
{
    grid-area: Message;
}

.Middle-Header
{
    grid-area: Body;
}

#WelcomeMessage
{
    text-align: center;
}

.Header-text {
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.Headers img
{
    width: inherit;
    height: auto;
}

.SMTI-Logo, 
.AMS-Logo
{
    position: relative;
}

#ParadeStateTable tr:first-child th 
{
    background-color: #0c0d0d;
    color: white;
}

.SMTI-Logo
{
    grid-area: Logo2;
    width: 80px;
    justify-self: end;
}

.AMS-Logo {
    width: 70px;
    grid-area: Logo;
    justify-self: start;
}

.Header-text *
{
    margin: 0;
}

.Header-text p
{
    padding-bottom: 10px;
}

.func-btns
{
    display: flex;
    justify-content: center;
    align-items: center;
}


.func-btns button {
  margin: 0 5px 0 5px; 
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 12px;
  font-weight: 800;
  justify-content: center;
  line-height: 12px;
  min-height: 32px;
  outline: none;
  overflow: visible;
  padding: 9px 16px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .func-btns button {
    padding: 9px 16px;
  }
}

.func-btns button:before,
.func-btns button:after {
  border-radius: 80px;
}

.func-btns button:before {
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.func-btns button:after {
  background-color: initial;
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.func-btns button:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(255, 116, 38) 0%, rgb(249, 58, 19) 100%);
}

.func-btns button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.func-btns button:active:not(:disabled) {
  color: #ccc;
}

.func-btns button:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.func-btns button:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.func-btns button:disabled {
  cursor: default;
  opacity: .24;
}