body {
    font-family: 'Poppins', sans-serif;
}

td, th, tr {
    border: 1px solid black;
    padding: 2px;
}

table
{
    width: 100%;
}

.Team > th
{
    text-align: left;
    font-weight: lighter;
}

.Headers
{
    display: grid;
    grid-template-areas: 
    "Logo Body Logo2"
    "Message Message Message";
    grid-template-columns: 1fr 3fr 1fr;
    padding: 10px 10px;
}

.User-text
{
    grid-area: Message;
}

.Middle-Header
{
    grid-area: Body;
}

#WelcomeMessage
{
    text-align: center;
}

.Header-text {
    flex-direction: column;
    flex-grow: 1;
    text-align: center;
}

.Headers img
{
    width: inherit;
    height: auto;
}

.SMTI-Logo, 
.AMS-Logo
{
    position: relative;
    width: 70px;
}

.SMTI-Logo
{
    grid-area: Logo;
    justify-self: start;
}

.AMS-Logo {
    grid-area: Logo2;
    justify-self: end;
}

.Header-text *
{
    margin: 0;
}

.Header-text p
{
    padding-bottom: 10px;
}

.func-btns
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.func-btns button
{
    margin: 0 5px 0 5px;
}